
	body{
	  font-family: 'Roboto Condensed', Helvetica, sans-serif;
		background: url('../images/img_night_skies.jpg');
	  /* text-align: left; */
	  font-size: 12px;
	  color: #303030; }

		.infoHeader, .infoFooter, h4, .close {
	     background: url(../images/img_lights.jpg);
			 background-size: cover;
 		 	 background-repeat: no-repeat;
	     color:yellow !important;
			 height: 100%;
	     font-size: 30px;
	   }


		 #codingBootCamp {

			 text-align:center;

		 }

		 .invisible {

			 visibility: hidden;

		 }

		 #codingBootCamp::-webkit-scrollbar {
		   width: auto;               /* width of the entire scrollbar */
		 }
		 #codingBootCamp::-webkit-scrollbar-track {
		   background: rgba(0,0,255,0.25);
			 /* border-radius:2px;       /* color of the tracking area */ */
		 }
		 #codingBootCamp::-webkit-scrollbar-thumb {
		   background: url(../images/img_lights.jpg);   /* color of the scroll thumb */
		   /* border-radius: 20px;       /* roundness of the scroll thumb */ */
		   border: 1px solid blue;  /* creates padding around scroll thumb */
		 }


		 #codingBootCamp b,
		 #first-ahcs-info b,
		 #second-ahcs-info b,
		 #third-ahcs-info b,
		 #busyModal b,
		 #coverLetter b,
		 #businessRow b {

			 color:yellow;
		 }


				#codingBootCamp .first-boot-camp,
	 	    #codingBootCamp .second-boot-camp,
	 	    #codingBootCamp .third-boot-camp,
	 	    #codingBootCamp .fourth-boot-camp,
	 	    #codingBootCamp .fifth-boot-camp,
	 	    #codingBootCamp .sixth-boot-camp,
	 	    #codingBootCamp .seventh-boot-camp,
	 	    #codingBootCamp .eighth-boot-camp,
	 	    #codingBootCamp .ninth-boot-camp,
	 	    #codingBootCamp .tenth-boot-camp,
				#fccModal .first-fcc-button
				 {
	 	      display: block;
	 	      background: url(../images/img_pink_skies.jpg);
	 	      z-index: 0;
					color:white;
	 	      text-transform: uppercase;
	 	      letter-spacing: 0.1em;
	 	      padding: 1em 1.25em;
	 	      -webkit-user-select: none;
	 	      -moz-user-select: none;
	 	      -ms-user-select: none;
	 	      user-select: none;
	 	      cursor: pointer;
	 	      max-width: 150px; }

					#khanAcademy .first-khan-academy,
		 	    #khanAcademy .second-khan-academy,
		 	    #khanAcademy .third-khan-academy,
		 	    #khanAcademy .fourth-khan-academy,
		 	    #khanAcademy .fifth-khan-academy,
		 	    #khanAcademy .sixth-khan-academy,
		 	    #khanAcademy .seventh-khan-academy,
		 	    #khanAcademy .eighth-khan-academy,
		 	    #khanAcademy .ninth-khan-academy,
		 	    #khanAcademy .tenth-khan-academy,
					#fccModal .second-fcc-button {
		 	      display: block;
		 	      background: url(../images/Sitemap.jpg);
		 	      z-index: 0;
						color:white;
		 	      text-transform: uppercase;
		 	      letter-spacing: 0.1em;
		 	      padding: 1em 1.25em;
		 	      -webkit-user-select: none;
		 	      -moz-user-select: none;
		 	      -ms-user-select: none;
		 	      user-select: none;
		 	      cursor: pointer;
		 	      max-width: 150px; }

						#codeCademy .first-code-cademy,
			 	    #codeCademy .second-code-cademy,
			 	    #codeCademy .third-code-cademy,
			 	    #codeCademy .fourth-code-cademy,
			 	    #codeCademy .fifth-code-cademy,
			 	    #codeCademy .sixth-code-cademy,
			 	    #codeCademy .seventh-code-cademy,
			 	    #codeCademy .eighth-code-cademy,
						#codeCademy .ninth-code-cademy,
						#fccModal .third-fcc-button
						  {
			 	      display: block;
			 	      background-color: #4CAF50;
							border: 0.25px solid black;
			 	      z-index: 0;
							color:white;
			 	      text-transform: uppercase;
			 	      letter-spacing: 0.1em;
			 	      padding: 1em 1.25em;
			 	      -webkit-user-select: none;
			 	      -moz-user-select: none;
			 	      -ms-user-select: none;
			 	      user-select: none;
			 	      cursor: pointer;
			 	      max-width: 150px; }




				 #codingBootCamp .first-boot-camp:hover,
				 #codingBootCamp .second-boot-camp:hover,
				 #codingBootCamp .third-boot-camp:hover,
				 #codingBootCamp .fourth-boot-camp:hover,
				 #codingBootCamp .fifth-boot-camp:hover,
				 #codingBootCamp .sixth-boot-camp:hover,
				 #codingBootCamp .seventh-boot-camp:hover,
				 #codingBootCamp .eighth-boot-camp:hover,
				 #codingBootCamp .ninth-boot-camp:hover,
				 #codingBootCamp .tenth-boot-camp:hover,
				 #khanAcademy .first-khan-academy:hover,
				 #khanAcademy .second-khan-academy:hover,
				 #khanAcademy .third-khan-academy:hover,
				 #khanAcademy .fourth-khan-academy:hover,
				 #khanAcademy .fifth-khan-academy:hover,
				 #khanAcademy .sixth-khan-academy:hover,
				 #khanAcademy .seventh-khan-academy:hover,
				 #khanAcademy .eighth-khan-academy:hover,
				 #khanAcademy .ninth-khan-academy:hover,
				 #khanAcademy .tenth-khan-academy:hover,
				 #codeCademy .first-code-cademy:hover,
					#codeCademy .second-code-cademy:hover,
					#codeCademy .third-code-cademy:hover,
					#codeCademy .fourth-code-cademy:hover,
					#codeCademy .fifth-code-cademy:hover,
					#codeCademy .sixth-code-cademy:hover,
					#codeCademy .seventh-code-cademy:hover,
					#codeCademy .eighth-code-cademy:hover,
					#codeCademy .ninth-code-cademy:hover

				  {
						color: yellow;
					}





					.point:hover {

						cursor:pointer;

					}


	@media screen and (max-width: 400px) {

											.titleBC {

												font-size: 3px;

											}
											.sidebar {
												font-size: 2px;
											}
											.medWidth {

												width: 100px;
												border: 1px solid green;

											}

										}


@media screen and (min-width: 400px) and (max-width: 550px) {

	.titleBC {

		font-size: 6px;

	}
	.sidebar {
		font-size: 3px;
	}
	.medWidth {

		width: 200px;
		border: 1px solid orange;

	}

}

@media screen and (min-width: 550px) and (max-width: 700px) {

	.titleBC {

		font-size: 8px;

	}
	.sidebar {
		font-size: 4px;
	}
	.medWidth {

		width: 300px;
		border: 1px solid purple;

	}

}

@media screen and (min-width: 700px) and (max-width: 850px) {

						.titleBC {

							font-size: 10px;

						}

						.sidebar {
							font-size: 5px;
						}

						.medWidth {

							width: 350px;
							border: 1px solid green;

						}

					}
					@media screen and (min-width: 850px) and (max-width: 1100px) {

															.titleBC {

																font-size: 12px;

															}
															.sidebar {
																font-size: 6px;
															}
															.medWidth {

																width: 425px;
																border: 1px solid red;

															}

														}
					@media screen and (min-width: 1100px) {

							.titleBC {

								font-size: 14px;
							}
							.sidebar {
									font-size: 8px;
								}
							.medWidth {

									width: 500px;
									border: 1px solid yellow;

								}

					}


.customFont {
font-family: Verdana,Geneva,sans-serif;
font-size: 60px;
letter-spacing: -1.8px;
word-spacing: -2px;
color: #000000;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: uppercase;
}

.ground {
	width: 100%;
	height:100%;
	background-size: cover;
	background-repeat: no-repeat;
}

 .image1 {
 	background-image: url('../images/img_rustic3.jpg');
 }

 .image2 {
 	background-image: url('../images/img_cox.jpg');
 }

 .image3 {
 	background-image: url('../images/img_smu.jpg');
 }

 .image4 {
 	background-image: url('../images/img_tawakoni.jpg');
 }

 .image5 {
 	background-image: url('../images/img_beach.jpg');
 }

 .image6 {
 	background-image: url('../images/img_tennis.jpg');
 }

 table tr td {
					 vertical-align:top;
				}
