
	body{
	  font-family: 'Roboto Condensed', Helvetica, sans-serif;
		background: url('../images/img_night_skies.jpg');
		background-repeat: no-repeat;
		background-size: cover;
	  /* text-align: left; */
	  font-size: 12px;
	  color: #303030; }


		 #codingBootCamp {

			 text-align:center;

		 }


		 .imageBorder {

			 border-top: 1px solid red;
			 border-right: 1px solid red;

		 }

		 .invisible {

			 visibility: hidden;

		 }

		 .fullWidth {

			 width: 100%;
		 }

		 .partialWidth {

			 min-width: 30%;
			 max-width: 50%
		 }
		 .lessWidth {

			min-width: 10%;
			max-width: 25%
		}

		.fifty {

			width: 50%;

		}


		 #codingBootCamp::-webkit-scrollbar {
		   width: auto;               /* width of the entire scrollbar */
		 }
		 #codingBootCamp::-webkit-scrollbar-track {
		   background: rgba(0,0,255,0.25);
			 /* border-radius:2px;       /* color of the tracking area */ */
		 }
		 #codingBootCamp::-webkit-scrollbar-thumb {
		   background: url(../images/img_lights.jpg);   /* color of the scroll thumb */
		   /* border-radius: 20px;       /* roundness of the scroll thumb */ */
		   border: 1px solid blue;  /* creates padding around scroll thumb */
		 }


		 #codingBootCamp b,
		 #first-ahcs-info b,
		 #second-ahcs-info b,
		 #third-ahcs-info b,
		 #fourth-ahcs-info b,
		 #busyModal b,
		 #coverLetter b,
		 #businessRow b,
		 #first-khan-info b,
		 #second-khan-info b,
		 #third-khan-info b,
		 #fourth-khan-info b,
		 #fifth-khan-info b,
		 #sixth-khan-info b,
		 #seventh-khan-info b,
		 #eighth-khan-info b,
		 #ninth-khan-info b,
		 #tenth-khan-info b {
			 color:yellow;
		 }


				#codingBootCamp .first-boot-camp,
	 	    #codingBootCamp .second-boot-camp,
	 	    #codingBootCamp .third-boot-camp,
	 	    #codingBootCamp .fourth-boot-camp,
	 	    #codingBootCamp .fifth-boot-camp,
	 	    #codingBootCamp .sixth-boot-camp,
	 	    #codingBootCamp .seventh-boot-camp,
	 	    #codingBootCamp .eighth-boot-camp,
	 	    #codingBootCamp .ninth-boot-camp,
	 	    #codingBootCamp .tenth-boot-camp,
				#fccModal .first-fcc-button
				 {
	 	      display: block;
					background-color: rgb(85,108, 150);
 				  border: 0.25px solid black;
	 	      z-index: 0;
					color:white;
	 	      text-transform: uppercase;
	 	      letter-spacing: 0.1em;
	 	      padding: 1em 1.25em;
	 	      -webkit-user-select: none;
	 	      -moz-user-select: none;
	 	      -ms-user-select: none;
	 	      user-select: none;
	 	      cursor: pointer; }

					#khanAcademy .first-khan-academy,
		 	    #khanAcademy .second-khan-academy,
		 	    #khanAcademy .third-khan-academy,
		 	    #khanAcademy .fourth-khan-academy,
		 	    #khanAcademy .fifth-khan-academy,
		 	    #khanAcademy .sixth-khan-academy,
		 	    #khanAcademy .seventh-khan-academy,
		 	    #khanAcademy .eighth-khan-academy,
		 	    #khanAcademy .ninth-khan-academy,
		 	    #khanAcademy .tenth-khan-academy,
					#fccModal .second-fcc-button {
		 	      display: block;
						background-color: rgb(255,175, 17);
					  border: 0.25px solid black;
		 	      z-index: 0;
						color:white;
		 	      text-transform: uppercase;
		 	      letter-spacing: 0.1em;
		 	      padding: 1em 1.25em;
		 	      -webkit-user-select: none;
		 	      -moz-user-select: none;
		 	      -ms-user-select: none;
		 	      user-select: none;
		 	      cursor: pointer;
					 }

						#codeCademy .first-code-cademy,
			 	    #codeCademy .second-code-cademy,
			 	    #codeCademy .third-code-cademy,
			 	    #codeCademy .fourth-code-cademy,
			 	    #codeCademy .fifth-code-cademy,
			 	    #codeCademy .sixth-code-cademy,
			 	    #codeCademy .seventh-code-cademy,
			 	    #codeCademy .eighth-code-cademy,
						#codeCademy .ninth-code-cademy,
						#fccModal .third-fcc-button
						  {
			 	      display: block;
			 	      background-color: #4CAF50;
							border: 0.25px solid black;
			 	      z-index: 0;
							color:white;
			 	      text-transform: uppercase;
			 	      letter-spacing: 0.1em;
			 	      padding: 1em 1.25em;
			 	      -webkit-user-select: none;
			 	      -moz-user-select: none;
			 	      -ms-user-select: none;
			 	      user-select: none;
			 	      cursor: pointer; }




				 #codingBootCamp .first-boot-camp:hover,
				 #codingBootCamp .second-boot-camp:hover,
				 #codingBootCamp .third-boot-camp:hover,
				 #codingBootCamp .fourth-boot-camp:hover,
				 #codingBootCamp .fifth-boot-camp:hover,
				 #codingBootCamp .sixth-boot-camp:hover,
				 #codingBootCamp .seventh-boot-camp:hover,
				 #codingBootCamp .eighth-boot-camp:hover,
				 #codingBootCamp .ninth-boot-camp:hover,
				 #codingBootCamp .tenth-boot-camp:hover,
				 #khanAcademy .first-khan-academy:hover,
				 #khanAcademy .second-khan-academy:hover,
				 #khanAcademy .third-khan-academy:hover,
				 #khanAcademy .fourth-khan-academy:hover,
				 #khanAcademy .fifth-khan-academy:hover,
				 #khanAcademy .sixth-khan-academy:hover,
				 #khanAcademy .seventh-khan-academy:hover,
				 #khanAcademy .eighth-khan-academy:hover,
				 #khanAcademy .ninth-khan-academy:hover,
				 #khanAcademy .tenth-khan-academy:hover,
				 #codeCademy .first-code-cademy:hover,
					#codeCademy .second-code-cademy:hover,
					#codeCademy .third-code-cademy:hover,
					#codeCademy .fourth-code-cademy:hover,
					#codeCademy .fifth-code-cademy:hover,
					#codeCademy .sixth-code-cademy:hover,
					#codeCademy .seventh-code-cademy:hover,
					#codeCademy .eighth-code-cademy:hover,
					#codeCademy .ninth-code-cademy:hover

				  {
						color: yellow;
					}


					.displayHide {

						display:none;

					}

					.displayShow {

						display:block;

					}


					.point:hover {

						cursor:pointer;

					}

					.floatLeft {

						float: left;
						margin-right: 2%;
						margin-bottom: 2%;
					}

					.floatRight {

						float: right;
						margin-left: 2%;
						margin-bottom: 2%;
					}

					.menuWidth {

						width: 100%;
					}


	.infoHeader, .infoFooter, h4, .close {
		 background: url(../images/img_lights.jpg);
		 background-size: cover;
		 background-repeat: no-repeat;
		 color:yellow !important;
	 }

	@media screen and (max-width: 400px) {

		.infoHeader, .infoFooter, h4, .close {

			font-size: 6px;

		}

}
@media screen and (min-width: 400px) {

	.infoHeader, .infoFooter, h4, .close {

		font-size: 22px;

	}

}

@media screen and (max-width: 600px) {

	.menuWidth {

	 width: 100%;

	}

}
@media screen and (min-width: 600px) {

.menuWidth {

	margin:auto;
	width: 50%;

}

}



	@media screen and (max-width: 250px) {

		.headerFooterFont {

			color:yellow;
			font-size: 7px;

		}

		.subjectTitleFont {

			color:yellow;
			font-size: 6px;

		}

		.compTitleFont {

			color:yellow;
			font-size: 2px;

		}

		.compMainFont
{
		color:yellow;
		font-size: 2px;
	}

}

		@media screen and (min-width: 250px) and (max-width: 400px) {

											.headerFooterFont {

												color:yellow;
												font-size: 9px;

											}

											.subjectTitleFont {

												color:yellow;
												font-size: 8px;

											}

											.compTitleFont {

												color:yellow;
												font-size: 4px;

											}

											.compMainFont
										{
											color:yellow;
											font-size: 2px;
										}

											.titleBC {
											  color:yellow;
												font-size: 3px;

											}
											.sidebar {
												font-size: 2px;
											}
											.medWidth {

												width: 100px;
												border: 1px solid green;


											}

											.margins {

								 			 margin-left: 10%;
								 			 margin-right: 10%;
								 		 }

										}


@media screen and (min-width: 400px) and (max-width: 550px) {

	.headerFooterFont {

		color:yellow;
		font-size: 11px;

	}

	.subjectTitleFont {

		color:yellow;
		font-size: 10px;

	}

	.compTitleFont {

		color:yellow;
		font-size: 6px;

	}

	.compMainFont
{
	color:yellow;
	font-size: 4px;
}


	.titleBC {
	  color:yellow;
		font-size: 6px;

	}
	.sidebar {
		font-size: 3px;
	}
	.medWidth {

		width: 200px;
		border: 1px solid orange;

	}
	.margins {

		margin-left: 10%;
		margin-right: 10%;
	}
}

@media screen and (min-width: 550px) and (max-width: 700px) {

	.headerFooterFont {

		color:yellow;
		font-size: 15px;

	}

	.subjectTitleFont {

		color:yellow;
		font-size: 12px;

	}

	.compTitleFont {

		color:yellow;
		font-size: 8px;

	}

	.compMainFont
{
	color:yellow;
	font-size: 6px;
}

	.titleBC {
		color:yellow;
		font-size: 8px;

	}
	.sidebar {
		font-size: 4px;
	}
	.medWidth {

		width: 300px;
		border: 1px solid purple;

	}
	.margins {

		margin-left: 25%;
		margin-right: 25%;
	}

}

@media screen and (min-width: 700px) and (max-width: 900px) {

	.headerFooterFont {

		color:yellow;
		font-size: 18px;

	}

	.subjectTitleFont {

		color:yellow;
		font-size: 15px;

	}

	.compTitleFont {

		color:yellow;
		font-size: 10px;

	}

	.compMainFont
{
	color:yellow;
	font-size: 8px;
}

						.titleBC {
							color:yellow;
							font-size: 10px;

						}

						.sidebar {
							font-size: 5px;
						}

						.medWidth {

							width: 350px;
							border: 1px solid green;

						}
						.margins {

			 			 margin-left: 25%;
			 			 margin-right: 25%;
			 		 }

					}

					@media screen and (min-width: 900px) and (max-width: 1100px) {

						.headerFooterFont {

							color:yellow;
							font-size: 22px;

						}

						.subjectTitleFont {

							color:yellow;
							font-size: 20px;

						}

						.compTitleFont {

							color:yellow;
							font-size: 14px;

						}

						.compMainFont
					{
						color:yellow;
						font-size: 10px;
					}


															.titleBC {
																color:yellow;
																font-size: 12px;

															}
															.sidebar {
																font-size: 6px;
															}
															.medWidth {

																width: 425px;
																border: 1px solid red;

															}
															.margins {

																margin-left: 25%;
																margin-right: 25%;
															}


														}


	@media screen and (min-width: 1100px) and (max-width: 1250px) {

						.headerFooterFont {

							color:yellow;
							font-size: 25px;

						}

						.subjectTitleFont {

							color:yellow;
							font-size: 22px;

						}

						.compTitleFont {

							color:yellow;
							font-size: 13px;

						}

						.compMainFont
					{
						color:yellow;
						font-size: 11px;
					}


							.titleBC {
								color:yellow;
								font-size: 14px;
							}
							.sidebar {
									font-size: 8px;
								}
							.medWidth {

									width: 500px;
									border: 1px solid yellow;

								}
								.margins {

					 			 margin-left: 25%;
					 			 margin-right: 25%;
					 		 }


					}

			@media screen and (min-width: 1250px) and (max-width: 1350px) {

				.headerFooterFont {

					color:yellow;
					font-size: 30px;

				}

				.subjectTitleFont {

					color:yellow;
					font-size: 26px;

				}

				.compTitleFont {

					color:yellow;
					font-size: 19px;

				}

				.compMainFont
			{
				color:yellow;
				font-size: 12px;
			}

				.titleBC {
					color:yellow;
					font-size: 14px;
				}


			}

			@media screen and (min-width: 1350px) and (max-width: 1650px) {

				.headerFooterFont {

					color:yellow;
					font-size: 40px;

				}
				.subjectTitleFont {

					color:yellow;
					font-size: 30px;

				}

				.compTitleFont {

					color:yellow;
					font-size: 22px;

				}

				.compMainFont
			{
				color:yellow;
				font-size: 14px;
			}

				.titleBC {
					color:yellow;
					font-size: 14px;
				}


			}

			@media screen and (min-width: 1650px) and (max-width: 1750px) {

				.headerFooterFont {

					color:yellow;
					font-size: 50px;

				}
				.subjectTitleFont {

					color:yellow;
					font-size: 40px;

				}

				.compTitleFont {

					color:yellow;
					font-size: 25px;

				}

				.compMainFont
			{
				color:yellow;
				font-size: 18px;
			}

				.titleBC {
					color:yellow;
					font-size: 14px;
				}


			}


		@media screen and (min-width: 1750px) and (max-width: 2670px) {

			.headerFooterFont {

				color:yellow;
				font-size: 55px;

			}
			.subjectTitleFont {

				color:yellow;
				font-size: 45px;

			}

			.compTitleFont {

				color:yellow;
				font-size: 27px;

			}

			.compMainFont
		{
			color:yellow;
			font-size: 20px;
		}

		}


			@media screen and (min-width: 2670px) {

				.headerFooterFont {

					color:yellow;
					font-size: 55px;

				}
				.subjectTitleFont {

					color:yellow;
					font-size: 45px;

				}

				.compTitleFont {

					color:yellow;
					font-size: 40px;

				}

				.compMainFont
			{
				color:yellow;
				font-size: 35px;
			}

				.titleBC {
					color:yellow;
					font-size: 14px;
				}


			}

.customFont {
font-family: Verdana,Geneva,sans-serif;
font-size: 60px;
letter-spacing: -1.8px;
word-spacing: -2px;
color: #000000;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: uppercase;
}

.basicDrop {

 	background-image: url('../images/img_night_skies.jpg');

}

.ground {
	width: 100%;
	height:100%;
	background-size: cover;
	background-repeat: no-repeat;
	overflow-x:hidden;
	position: absolute;
	top: 0;
	left: 0;
}

 .image1 {
 	background-image: url('../images/img_rustic3.jpg');
 }

 .image2 {
 	background-image: url('../images/img_cox.jpg');
 }

 .image3 {
 	background-image: url('../images/img_smu.jpg');
 }

 .image4 {
 	background-image: url('../images/img_tawakoni.jpg');
 }

 .image5 {
 	background-image: url('../images/img_beach.jpg');
 }

 .image6 {
 	background-image: url('../images/img_tennis.jpg');
 }

 table tr td {
					 vertical-align:top;
				}
